@import url("https://fonts.googleapis.com/css2?family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-color: #f7f7f7;
  --dark-color: #333333;
  --accessory-color-1: #c54c3a;
  --accessory-color-2: #3ab3c5;
  --shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 0.3s ease-in-out;
  display: block;
}

a:link,
a:visited {
  color: var(--dark-color);
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.85;
  color: var(--accessory-color-2);
}

img {
  max-width: 100%;
}

/*HEADER*/
header {
  position: relative;
  padding: 20px 0;
  box-shadow: var(--shadow);
  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 58px;
}

header h2 {
  font-family: "Pompiere", sans-serif;
}

header nav {
  position: fixed;
  background-color: var(--accessory-color-2);
  width: 100%;
  height: 100%;
  top: -130%;
  right: 0;
  transition: top cubic-bezier(0.4, 0, 0.18, 0.99) 1s;
  box-shadow: var(--shadow);
}

header nav.active {
  top: 0;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

header ul li {
  padding: 10px;
}

header li a:link,
header li a:visited {
  color: var(--light-color);
}

/*hamburger button*/
header .hamburger-button {
  cursor: pointer;
  padding: 3px;
  z-index: 1000;
}

header .bar {
  width: 25px;
  height: 4px;
  display: block;
  background-color: #333333;
  margin: 4px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}

header .active.hamburger-button .bar:nth-child(1) {
  transform: rotate(45deg) translateY(5.5px);
  transform-origin: center;
  background-color: var(--light-color);
}

header .active.hamburger-button .bar:nth-child(2) {
  transform: rotate(-45deg) translateY(-5.5px);
  transform-origin: center;
  background-color: var(--light-color);
}

header .hamburger-button:hover .bar {
  opacity: 0.8;
}

/*MAIN*/
main h2 {
  font-size: 2.5rem;
}

/*HERO SECTION*/
.hero {
  min-height: calc(100vh - 105px);
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)),
    url(images/Hero-image.png) no-repeat center / cover;
  position: relative;
  display: flex;
  align-items: center;
}

.hero h1 {
  color: var(--light-color);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4;
}

.hero h2 {
  color: var(--light-color);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 20px;
}

.hero .btn {
  margin-top: 16px;
}

/*TJÄNSTER*/
.services {
  position: relative;
  padding-bottom: 160px;
}

.services .service-content {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.services a {
  margin-top: 20px;
}

.services a:link,
.services a:visited {
  color: var(--accessory-color-2);
}

.services img {
  box-shadow: var(--shadow);
  border-radius: 20px;
}

.services .card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin-top: 100px;
}

/*OM OSS*/
.aboutus {
  background-color: var(--dark-color);
  color: var(--light-color);
  position: relative;
}

.aboutus .container {
  padding-top: 40px;
  padding-bottom: 160px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.aboutus img {
  border-radius: 20px;
}

.aboutus .btn {
  margin-top: 16px;
}

/*KONTAKT*/
.contact {
  background-color: var(--accessory-color-1);
  padding-top: 20px;
}

.contact .card {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.contact .card:hover {
  transform: none;
  cursor: auto;
}

.contact h2, .contact p{
  text-align: center;
}

.contact form{
  display: grid;
  grid-template-areas: 
  "name name"
  "phone email"
  "questions questions"
  "submit submit";
  gap: 8px;
  width: 100%;
}

.contact .name{
  grid-area: name;
}

.contact .phone{
  grid-area: phone;
}

.contact .email{
  grid-area: email;
}

.contact .questions{
  grid-area: questions;
}

.contact .submit{
  grid-area: submit;
}

.contact input, .contact textarea{
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: var(--dark-color);
  background-color: #e6e6e6;
  resize: none;
  font-family: "Poppins", sans-serif;
  transition: 0.5s ease-in-out;
}

.contact input:hover, .contact textarea:hover{
  background-color: #e6e6e686;
}

.contact .submit input{
  background-color: var(--accessory-color-2);
  font-weight: 700;
  font-size: 1rem;
}

.contact .submit input:hover{
  transform: scale(1.02);
}

.contact label{
  color: var(--accessory-color-2);
  font-weight: 600;
  font-size: 0.9rem;
}

/*Utility classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
  top: 0;
}

.red {
  color: var(--accessory-color-1);
  font-weight: 800;
}

.card {
  background-color: var(--accessory-color-1);
  border-radius: 20px;
  box-shadow: var(--shadow);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 28px;
  transition: ease-in-out 0.4s;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card i {
  font-size: 2rem;
}

.card h3 {
  margin-top: 12px;
}

.card p {
  margin-top: 8px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 29px;
  background: var(--accessory-color-1);
  color: var(--light-color) !important;
  border: none;
  border-radius: 20px;
  transition: 0.5s ease-in-out;
  box-shadow: var(--shadow);
}

.btn:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

/*Shape divider classes*/
.custom-shape-divider-bottom-1722010389 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722010389 svg {
  position: relative;
  display: block;
  width: calc(146% + 1.3px);
  height: 92px;
}

.custom-shape-divider-bottom-1722010389 .shape-fill {
  fill: #f7f7f7;
}

.custom-shape-divider-bottom-1722165084 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722165084 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1722165084 .shape-fill {
  fill: #333333;
}

.custom-shape-divider-bottom-1722167119 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1722167119 svg {
  position: relative;
  display: block;
  width: calc(245% + 1.3px);
  height: 135px;
}

.custom-shape-divider-bottom-1722167119 .shape-fill {
  fill: #c54c3a;
}

@media (min-width: 670px) {
  .hamburger-button {
    display: none;
  }

  header nav {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    box-shadow: none;
  }

  header nav ul {
    flex-direction: row;
    margin-top: 0;
  }

  header ul li a:link,
  header ul li a:visited {
    font-weight: 500;
    color: var(--dark-color);
  }

  header nav ul li:last-of-type a {
    display: inline-block;
    padding: 10px 29px;
    background-color: var(--accessory-color-1);
    color: var(--light-color);
    border: none;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    box-shadow: var(--shadow);
  }

  header nav ul li:last-of-type a:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }

  .contact form{
    width: 90%;
  }
}

@media (min-width: 940px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero h2 {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .services .service-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 100px;
  }

  .services .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .aboutus .container {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .aboutus .aboutus-content {
    order: 2;
  }
}
